# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# OSX meta
.DS_Store

# Builds
_Build/bin/PixelPyrosDebug.app
_Build/bin/PixelPyros.app

# Xcode personal settings
xcuserdata
